.modal-background {
  background: rgba(30, 30, 30, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal-frame {
  position: absolute;
  top: 10%;
  left: 20%;
  border: 1px solid #333;
  background: #ddd;
  height: 200px;
  width: 200px;
}

.modal-title {
  position: absolute;
  top: 0;
  width: 100%;
  height:30px;
  text-align: center;
  border-bottom: 2px solid black;
}

.modal-body {
  margin-top: 40px;
  padding: 5px;
  overflow: scroll;
}


